<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="renderer" content="webkit" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>[简历]皮家鑫-前端开发工程师</title>

    <link rel="stylesheet" href='./assets/css/index.css' type="text/css"></link>

  </head>

  <body>
    <div class="resume-wrap" id="pdfDom">
      <div class="header">
        <h1>
          皮家鑫
          <span>（男，22 岁，本科）</span>
        </h1>
        <p>
          13797957383 |
          <span style="color:#3D85C6">497421855@qq.com</span> 求职意向：
          <span style="color:#000;font-size:1.2em;font-weight:bold;"
            >前端工程师</span
          >
        </p>
      </div>

      <div class="wrap">
        <h3>专业技能</h3>
        <div class="line"></div>
        <p class="skills" v-for="(item,index) in skills" :key="index">
          <span class="circle">o</span>
          {{item}}
        </p>
      </div>

      <div class="wrap">
        <h3>工作经历</h3>
        <div class="line"></div>
        <div class="title">
          <span class="bold">湖北金鹏信息技术有限公司</span> （ 2019.7.5 ~
          2020.1.6）
        </div>
        <div class="detail">
          <div class="detail-left bold">工作内容：</div>
          <div class="detail-right">
            <p>
              1 、维护公司现有的后台管理系统，基于 VUE
              开发，每月更新迭代版本，上线新的功能。
            </p>
            <p>2 、基于 VUE 和 Echarts 开发单页面应用，数据可视化看板</p>
            <p>3 、维护公司目前静态 web 项目，配合测试解决各种 BUG</p>
            <p>4 、参与需求评审会议，与产品沟通提出自己的想法</p>
          </div>
        </div>
      </div>

      <div class="wrap">
        <h3>项目经验</h3>
        <div class="line"></div>

        <div class="wrap-item" v-for="(item,index) in projects" :key="index">
          <div class="title bold">{{item.name}}</div>
          <div class="detail">
            <div class="detail-left bold">项目描述：</div>
            <div class="detail-right">
              <p v-for="item1 in item.proDesc" :key="item1">
                {{item1}}
              </p>
            </div>
          </div>
          <div class="detail">
            <div class="detail-left bold">工作描述：</div>
            <div class="detail-right">
              <p v-for="item2 in item.workDesc" :key="item2">
                {{item2}}
              </p>
            </div>
          </div>
          <div class="detail" v-if="item.address">
            <div class="detail-left bold">项目地址：</div>
            <div class="detail-right">
              <a :href="item.address" target="_blank">{{item.address}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="wrap">
        <h3>教育经历</h3>
        <div class="line"></div>
        <div class="title">武汉轻工大学 2016.9 – 2020.6 软件工程专业 本科</div>
      </div>

      <div class="wrap">
        <h3>自我评价</h3>
        <div class="line"></div>
        <p class="skills" v-for="(item,index) in selfEvaluates" :key="index">
          <span class="circle">o</span>
          {{item}}
        </p>
      </div>

      <div class="download" title="下载PDF简历" @click="exportReportTemplet()">
        <svg
          t="1578837056375"
          class="icon"
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          p-id="2014"
          width="1em"
          height="1em"
        >
          <path
            d="M32 544v320s0 128 128 128h704c64 0 128-32.128 128-128v-64-256h-64v320s0 64-64 64h-704s-64 0-64-64v-320"
            p-id="2015"
            fill="#515151"
          />
          <path
            d="M480 707.968l-57.152-57.152-45.248 45.248 90.048 90.048-0.448 0.512 45.248 45.248 0.448-0.512 0.448 0.512 45.248-45.248-0.448-0.512 90.048-90.048-45.248-45.248-58.944 59.008V32h-64v675.968z"
            p-id="2016"
            fill="#515151"
          />
        </svg>
      </div>
    </div>


    <script src="./assets/js/vue.min.js"></script>
    <script src='./assets/js/jquery-1.12.1.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.1/jspdf.debug.js" ></script>
    <script  type="text/javascript" charset="utf-8"  src="./assets/js/html2canvas.min.js"></script>

    <script src="./assets/js/index.js"></script>

  </body>
</html>
