*{
    padding: 0;
    margin: 0;
}
body{
    color: #787978;
    background: url('../images/bodybg.jpg') repeat;
    font-family: "Arima Madurai", Microsoft JhengHei, Georgia, Times, serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    text-align: left;
}
.resume-wrap {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    width: 50em;
    margin: 5em auto;
    font-size: 0.8em;
    color: #000 !important;
    font-family: 'CGLHGH+Microsoft YaHei UI';
    font-weight: 400;
    overflow: hidden;
  }
  .resume-wrap .bold {
    font-weight: bold;
  }
  .resume-wrap .wrap-item {
    margin: 2.5em 0;
  }
  .resume-wrap .wrap {
    padding: 0 3.5em;
    margin-top: 2.5em;
  }
  .resume-wrap .wrap .line {
    width: 98%;
    margin: 2.2em auto 0.8em;
    height: 0.2em;
    background: #3d85c6;
  }
  .resume-wrap .wrap .detail {
    font-size: 0.8em;
    margin: 1em 0 1em 8em;
    display: flex;
    height: 100%;
  }
  .resume-wrap .wrap .detail .detail-left {
    white-space: nowrap;
    height: 100%;
    line-height: 2em;
  }
  .resume-wrap .wrap .detail .detail-right p {
    line-height: 2em;
  }
  .resume-wrap .wrap .detail .detail-right a {
    line-height: 2em;
    color: #3d85c6;
  }
  .resume-wrap .title {
    padding: 1%;
  }
  .resume-wrap p.skills {
    padding: 0 1%;
    font-size: 0.9em;
    line-height: 1.8em;
    margin-bottom: 0.5em;
  }
  .resume-wrap .circle {
    font-size: 1em;
    font-family: 'KMLIBF+Microsoft YaHei UI,Bold';
    color: #3d85c6;
    margin-right: 0.6em;
    font-weight: bold;
  }
  .resume-wrap .header {
    margin-bottom: 2.5em;
  }
  .resume-wrap .header h1 {
    padding-left: 40%;
    font-weight: 500;
    margin-top: 1.5em;
  }
  .resume-wrap .header h1 span {
    font-size: 0.6em;
  }
  .resume-wrap .header p {
    text-align: center;
    margin: 1em 0;
  }
  .resume-wrap .download {
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 20px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    right: 10%;
    bottom: 20%;
    cursor: pointer;
  }